<h1>Listing buckets</h1>

<table>

<% for bucket in @buckets %>
  <tr>
    <td><%= link_to bucket.name, bucket %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bucket', new_bucket_path %>
