<h1>Editing deposit</h1>

<% form_for(@deposit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @deposit %> |
<%= link_to 'Back', deposits_path %>
