<h1>Listing deposits</h1>

<table>
  <tr>
  </tr>

<% for deposit in @deposits %>
  <tr>
    <td><%= link_to 'Show', deposit %></td>
    <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
    <td><%= link_to 'Destroy', deposit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deposit', new_deposit_path %>
